run = "npm run start"
hidden = [".config", "package-lock.json"]
compile = "npm run build"
modules = ["nodejs-20"]

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "static"
buildCommand = "npm run build"
publicDir = "dist"

[[ports]]
localPort = 3002
externalPort = 80
exposeLocalhost = true
